<!DOCTYPE html>  
<html>  
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hapi kit using partial views</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>  
<body>

    <div style="margin-top:75px" class="container">

        {{! adding header.html}}
        {{> header}}

        {{! adding the view itself }}
        {{{content}}}

    </div>

    {{! adding footer.html}}
    {{> footer}}

  
</body>  
</html>  